---
- name: Install Postfix
  apt:
    name: postfix
    state: present
  environment:
    DEBIAN_FRONTEND: noninteractive

- name: Backup original main.cf
  copy:
    src: /etc/postfix/main.cf
    dest: /etc/postfix/main.cf.backup
    remote_src: yes
    backup: yes
  ignore_errors: yes

- name: Configure Postfix main.cf
  template:
    src: main.cf.j2
    dest: /etc/postfix/main.cf
    backup: yes
    owner: root
    group: root
    mode: '0644'
  notify: restart postfix

- name: Create virtual mailbox domains file
  template:
    src: virtual_mailbox_domains.j2
    dest: /etc/postfix/virtual_mailbox_domains
    owner: root
    group: root
    mode: '0644'
  notify:
    - postmap virtual domains
    - restart postfix

- name: Create mailname file
  copy:
    content: "{{ mail_domain }}"
    dest: /etc/mailname
    owner: root
    group: root
    mode: '0644'

- name: Enable submission port in master.cf
  lineinfile:
    path: /etc/postfix/master.cf
    regexp: '^#submission inet'
    line: 'submission inet n       -       y       -       -       smtpd'
    backup: yes
  notify: restart postfix

- name: Start and enable Postfix
  systemd:
    name: postfix
    state: started
    enabled: yes